body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
    color: #333;
}

h1 {
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 1.5em;
    padding: 1.6em 1em 1em 5em;
}


input[type=number] {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    font-size: 16px;
    width: 10em;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

button {
    padding: 10px 20px;
    background-color: #215940;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(1, 46, 55);
}

button#addButton {
    margin: 1em auto;
}

button#removeAllButton {
    background-color: #db4d4d;
}

button#removeAllButton:hover {
    background-color: #b63e3e;
}

button#installButton {
    display: block;
    background-color: #6aa8ff;
    border-radius: 2em;
    float: right;
    color: #000000;
}

#formulario > * {
    display: block;
    margin: auto;
}

.bus-list {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

.stop-block {
    background-color: #fff;
    border-left: 5px solid #143325;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.stop-block h2 {
    padding: 1em;
}

.line-info {
    border-top: 1px solid #eee;
    display: flex;
    padding: 1em;
}

.highlight {
    background-color: #f0f9ff9c;
}

.line-info:first-child {
    border-top: none;
}

.line-info button {
    background-color: #b63e3e;
    margin-left: 15px;
}

.line-info button:hover {
    background-color: #c03e2b;
}

.line-info .linea, .line-info .tiempo {
    flex: 1;
}

.line-info .linea h3 {
    font-weight: bold;
    font-size: 1.8em;
    margin: 0.4em;
}

.line-info .tiempo {
    font-size: 1.6em;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.line-info .tiempo p {
    font-size: 0.5em;
    display: block;
    margin: 0 0.4em;
}


/* Estilos para el botón de eliminar, que por defecto está oculto */
.remove-button {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}

/* Mostrar el botón solo cuando se pasa el ratón por encima del contenedor de la parada */
.line-info:hover .remove-button {
    display: inline; /* Mostrar cuando se pasa el ratón por encima */
}

.error {
    background-color: #b63e3e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.error.show {
    opacity: 1;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .container {
      padding: 1rem; 
    }
  }
  
  /* Estilos para pantallas medianas */  
  @media (min-width: 577px) and (max-width: 768px) {
    .container {
      padding: 2rem;
    }
  }

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

