body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
    color: #333;
}

h1 {
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 1.5em;
    padding: 1.6em 1em 1em 5em;
}


input[type=number], input[type=text] {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    font-size: 16px;
    width: 6em;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

button {
    padding: 10px 20px;
    background-color: #215940;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(1, 46, 55);
}

button#addButton {
    margin: 1em auto;
    display: block;
}

button#removeAllButton {
    background-color: #db4d4d;
}

button#removeAllButton:hover {
    background-color: #b63e3e;
}

button#installButton {
    display: block;
    background-color: #6aa8ff;
    border-radius: 2em;
    float: right;
    color: #000000;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario #inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#autocompleteResults, #lineSuggestions {
    margin-top: 5px; /* Ajusta según sea necesario */
    background-color: white;
    width: 100%; /* O la anchura que prefieras */
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
}


.autocomplete-result, .line-suggestion {
    cursor: pointer;
    margin: 2px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}


.bus-list {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

.stop-block {
    background-color: #fff;
    border-left: 5px solid #143325;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.stop-block h2 {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 1.3em;
}

.line-info {
    border-top: 1px solid #eee;
    display: flex;
    padding: 0em 1em;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.stop-block, .line-info {
    animation: fadeIn 0.5s ease-in-out;
}

.highlight {
    background-color: #f0f9ff9c;
}

.line-info:first-child {
    border-top: none;
}

.line-info button {
    background-color: #b63e3e;
    margin-left: 15px;
}

.line-info button:hover {
    background-color: #c03e2b;
}

.line-info h3 {
    border-radius: 10px;
    text-align: center;
    max-width: 40px;
}

.line-info .linea, .line-info .tiempo {
    flex: 1;
}

.line-info .linea h3 {
    font-weight: bold;
    font-size: 1.8em;
    margin: 0.4em;
}

.line-info .tiempo {
    font-size: 1.6em;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.line-info .tiempo p {
    font-size: 0.5em;
    display: block;
    margin: 0 0.4em;
}

.line-info .tiempo p.horaLlegada {
    width: 100%;
    text-align: end;
    margin: -4em 0.6em 0 0.4em;
}


/* Estilos para el botón de eliminar, que por defecto está oculto */
.remove-button {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}

/* Mostrar el botón solo cuando se pasa el ratón por encima del contenedor de la parada */
.line-info:hover .remove-button {
    display: inline; /* Mostrar cuando se pasa el ratón por encima */
}

.error {
    background-color: #b63e3e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.error.show {
    opacity: 1;
}

.foot-note {
    font-style: italic;
}

.foot-note a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #1DA1F2; /* Azul de Twitter */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.foot-note  a:hover {
    background-color: #0d8bf2;
}

.foot-note a:nth-of-type(2) {
    background-color: #3B5998; /* Azul de Facebook */
}

.foot-note a:nth-of-type(2):hover {
    background-color: #334d84;
}


footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .container {
      padding: 1rem; 
    }
}
  
  /* Estilos para pantallas medianas */  
  @media (min-width: 577px) and (max-width: 768px) {
    .container {
      padding: 2rem;
    }
}

/* Colores de las lineas */

.linea-1 h3 {
    background-color: #5ebd5a;
    color: #fff;
}

.linea-2 h3 {
    background-color: #f2c435;
    color: #000;
}

.linea-3 h3 {
    background-color: #ee4ba4;
    color: #000;
}

.linea-4 h3 {
    background-color: #aa541a;
    color: #FFF;
}

.linea-5 h3 {
    background-color: #2fb7b7;
    color: #fff;
}

.linea-6 h3 {
    background-color: #f29cc2;
    color: #000;
}

.linea-7 h3 {
    background-color: #7a2b37;
    color: #FFF;
}

.linea-8 h3 {
    background-color: #ea5d00;
    color: #FFF;
}

.linea-9 h3 {
    background-color: #009ee6;
    color: #FFF;
}

.linea-10 h3 {
    background-color: #a01a4a;
    color: #FFF;
}

.linea-13 h3 {
    background-color: #0051a1;
    color: #FFF;
}

.linea-14 h3 {
    background-color: #887cb9;
    color: #000;
}

.linea-16 h3 {
    background-color:#84cef5;
    color: #000;
}

.linea-17 h3 {
    background-color: #c2d403;
    color: #000;
}

.linea-18 h3 {
    background-color: #b9b8b8;
    color: #000;
}

.linea-19 h3 {
    background-color: #eaa874;
    color: #000;
}

.linea-24 h3 {
    background-color: #11459f;
    color: #FFF;
}

.linea-C1 h3, .linea-C2 h3 {
    background-color: #555553;
    color: #FFF;
}

.linea-H h3 {
    background-color: #e5232e;
    color: #000;
}

.linea-B1 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B2 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B3 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B4 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B5 h3 {
    background-color: #000;
    color: #FFF;
}