body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #054a32;
    margin: 0;
    padding: 0;
    color: #a1c7bf;
    height: 112px;
    display: flex;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/logo-dark.png');
    background-repeat: no-repeat;
    background-size: 62px;
    background-position: 1.2em;
    padding: 0em 0 0 2em;
    margin: 0;
    font-size: 1.6em;
    width: 100%;
    height: 100%;
}

input[type=number], input[type=text] {
    margin-left: 10px;
    padding: 10px;
    margin-right: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
        
}

input#stopNumber {
    border-bottom: 1px solid #DDD;
    background: url(img/location-gray.png) no-repeat;
    background-size: 18px;
}

input#lineNumber {
    background: url(img/bus-gray.png) no-repeat;
    background-size: 24px;
}

input#stopNumber, input#lineNumber {
    height: auto;
    padding: 14px 0 15px 35px;
    background-position: 1px 12px;
}

button {
    padding: 10px 20px;
    background-color: #054a32;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#addButton {
    margin: 0em 1.2em;
    display: block;
    color: #676f7b;
    background-color: #c1c4ca;
}

button#addButton:hover {
    background-color: #054a32;
    color: #FFF;
}

button#removeAllButton {
    background: url(img/trash-gray.png) no-repeat #EAEAEA;
    background-size: 20px;
    background-position: 15px center;
    color: #686868;
    padding: 10px 30px;
    width: 271px;
    justify-content: center;
    display: none; /* Oculto por defecto */
    align-items: center;
}

button#installButton {
    background-color: #6aa8ff;
    border-radius: 2em;
    color: #000000;
    height: 39px;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    padding: 10px 14px;
}

#formulario {
    padding: 14px;
    margin-top: -30px;
}

#formulario form {
    background: #FFF;
    margin: 2px auto 4px auto;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 16px 0 rgba(12,12,14,.2),0 4px 8px 0 rgba(12,12,14,.12);
    height: auto;
    max-width: 385px;
}

#formulario #inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#autocompleteResults, #lineSuggestions {
    margin-top: 5px; /* Ajusta según sea necesario */
    background-color: white;
    width: 100%; /* O la anchura que prefieras */
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
}


.autocomplete-result, .line-suggestion {
    cursor: pointer;
    margin: 2px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.bus-list {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

#welcome-box {
    position: relative;
    border-radius: 12px;
    overflow: auto;
    background: #fff;
    box-shadow: 0 8px 64px 0 rgba(12,12,14,.12);
    width: 305px;
    margin: 0 auto;
    padding: 307px 0 5px 0;
    background: url("img/welcome-logo.png") no-repeat #FFF center 0;
}

#welcome-box h2 {
    font-size: 1em;
    line-height: 1em;
    color: #0c0c0e;
    font-weight: bold;
    padding: 0 20px;
}

#welcome-box p {
    padding: 0 20px;
    font-size: 0.9em;
    text-align: center;
}

.stop-block {
    background-color: #fff;
    border-left: 5px solid #143325;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 0 4px;
}

.stop-block h2 {
    padding: 1em 0.2em 0 72px;
    text-align: center;
    font-size: 1.1em;
}

.stop-block a#mapIcon {
    background-image: url("img/map.png");
    background-size: cover;
    display: inline-block;
    width: 1em;
    height: 1em; 
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    left: 50px;
    font-size: 1.4em;
  }  

.line-info {
    border-top: 1px solid #eee;
    display: flex;
    padding: 0em 0 0 1em;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.stop-block, .line-info {
    animation: fadeIn 0.5s ease-in-out;
}

.highlight {
    background-color: #f0f9ff9c;
}

.highlight-update {
    background-color: #ffff99; /* Cambia esto al color que quieras */
    transition: background-color 1s ease;
}

.line-info:first-child {
    border-top: none;
}

.line-info h3 {
    border-radius: 10px;
    text-align: center;
    max-width: 48px;
    box-shadow: 1px 1px 10px 0 rgba(12,12,14,.2),0 4px 8px 0 rgba(6, 6, 7, 0.12);
}

.line-info .alert-icon {
    position: absolute;
    font-size: 0.7em;
    cursor: pointer;
    margin-left: 1em;
}

.line-info .alert-box {
    position: fixed; /* Cambia a fixed para posicionarlo en relación a la ventana del navegador */
    border-radius: 12px;
    overflow: auto;
    background: #fff;
    box-shadow: 0 8px 64px 0 rgba(12,12,14,.12);
    width: 305px;
    margin: 0 auto;
    padding: 1em;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Desplaza el elemento hacia atrás para centrarlo perfectamente */
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-info .alert-box .notice {
    font-size: 0.9em;
    font-style: italic;
}

.line-info .linea, .line-info .tiempo {
    flex: 1;
}

.line-info .linea h3 {
    font-weight: bold;
    font-size: 1.8em;
    margin: 0.4em;
}

.line-info .tiempo {
    font-size: 1.8em;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.line-info .tiempo p {
    font-size: 0.5em;
    display: block;
    margin: 0 0.4em;
}

.line-info .tiempo p.horaLlegada {
    width: 100%;
    text-align: end;
    margin: -3em 0.6em 0 0.4em;
}


/* Estilos para el botón de eliminar, que por defecto está oculto */
.remove-button {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    background-color: #b63e3e;
    margin-left: 15px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateX(100%);
    opacity: 0;
}

.remove-button:hover {
    background-color: #c03e2b;
}

.arrow-button {
    background: transparent no-repeat center center;
    background-image: url('img/arrow-light.png');
    background-size: 40px 40px;
    border: none;
    font-size: 0;
    cursor: pointer;
}



.error, .success {
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.error.show, .success.show {
    opacity: 1;
}

.error {
    background-color: #b63e3e;
}

.success {
    background-color: #3eb65c;
}

.foot-note {
    font-style: italic;
    padding: 1em;
    margin-top: 1em;
    font-size: 0.9em;
}

.foot-note a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #1DA1F2; /* Azul de Twitter */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.foot-note  a:hover {
    background-color: #0d8bf2;
}

.foot-note a:nth-of-type(2) {
    background-color: #3B5998; /* Azul de Facebook */
}

.foot-note a:nth-of-type(2):hover {
    background-color: #334d84;
}

.foot-note a#telegramButton {
    background-color: #24a1dd;
}

.foot-note button#theme-toggle {
    background-color: #ffffff;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode h1 {
    background-image: url('img/logo-dark.png');
}

.dark-mode #formulario form {
    box-shadow: 0 2px 16px 0 rgba(41, 41, 48, 0.2);
    background-color: #323232;
}

.dark-mode #formulario form input {
    background-color: #323232;
    color: #FFF;
}

.dark-mode input#stopNumber {
    border-bottom: 1px solid #EEE;
    background: url(img/location-white.png) no-repeat;
    background-size: 18px;
    background-position: 1px 12px;
}

.dark-mode input#lineNumber {
    background: url(img/bus-white.png) no-repeat;
    background-size: 24px;
    background-position: 1px 12px;
}

.dark-mode #autocompleteResults, .dark-mode #lineSuggestions {
    background-color: #333;
}

.dark-mode #welcome-box {
    box-shadow: 0 8px 64px 0 rgba(12,12,14,.12);
    background: url("img/welcome-logo-white.png") no-repeat #2d2d2d center 0;
}

.dark-mode .alert-box {
    box-shadow: 0 8px 64px 0 rgba(12,12,14,.12);
    background: #2d2d2d;
}

.dark-mode #welcome-box h2, .dark-mode .alert-box h2 {
    color: #FFF;
}

.dark-mode #welcome-box p, .dark-mode .alert-box p {
    color: #edebeb;
}

.dark-mode .stop-block {
    background-color: #333; /* Fondo más oscuro */
    color: #fff; /* Texto en color claro */
    border-left-color: #aaa; /* Borde izquierdo más claro */
}

.dark-mode .highlight {
    background-color: #565b5e9c;
}

.dark-mode .line-info {
    border-top: 1px solid #404040;
}

.dark-mode .line-info h3 {
    box-shadow: 1px 1px 10px 0 rgba(12,12,14,.2),0 4px 8px 0 rgba(6, 6, 7, 0.12);
}

.dark-mode .foot-note button#theme-toggle {
    background-color: #222;
}

.dark-mode .stop-block a#mapIcon {
    background-image: url("img/map-dark.png");
  }  

.dark-mode button#removeAllButton {
    background: url(img/trash-white.png) no-repeat #323232;
    background-size: 20px;
    background-position: 15px center;
    color: #b1b1b1;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .container {
      padding: 1rem; 
    }
}
  
  /* Estilos para pantallas medianas */  
  @media (min-width: 577px) and (max-width: 768px) {
    .container {
      padding: 2rem;
    }
}

/* Colores de las lineas */
.linea-1 h3 {
    background-color: #5ebd5a;
    color: #fff;
}

.linea-2 h3 {
    background-color: #f2c435;
    color: #000;
}

.linea-3 h3 {
    background-color: #ee4ba4;
    color: #000;
}

.linea-4 h3 {
    background-color: #aa541a;
    color: #FFF;
}

.linea-5 h3 {
    background-color: #2fb7b7;
    color: #fff;
}

.linea-6 h3 {
    background-color: #f29cc2;
    color: #000;
}

.linea-7 h3 {
    background-color: #7a2b37;
    color: #FFF;
}

.linea-8 h3 {
    background-color: #ea5d00;
    color: #FFF;
}

.linea-9 h3 {
    background-color: #009ee6;
    color: #FFF;
}

.linea-10 h3 {
    background-color: #a01a4a;
    color: #FFF;
}

.linea-13 h3 {
    background-color: #0051a1;
    color: #FFF;
}

.linea-14 h3 {
    background-color: #887cb9;
    color: #000;
}

.linea-16 h3 {
    background-color:#84cef5;
    color: #000;
}

.linea-17 h3 {
    background-color: #c2d403;
    color: #000;
}

.linea-18 h3 {
    background-color: #b9b8b8;
    color: #000;
}

.linea-19 h3 {
    background-color: #eaa874;
    color: #000;
}

.linea-24 h3 {
    background-color: #11459f;
    color: #FFF;
}

.linea-C1 h3, .linea-C2 h3 {
    background-color: #555553;
    color: #FFF;
}

.linea-H h3 {
    background-color: #e5232e;
    color: #000;
}

.linea-B1 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B2 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B3 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B4 h3 {
    background-color: #000;
    color: #FFF;
}

.linea-B5 h3 {
    background-color: #000;
    color: #FFF;
}